* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background: #18181b;
  --primary: #6d28d9;
  --secundary: #27272a;
  --tertiary: #8b5cf6;
  --white: #ffffff;
  --tertiaryColorShadow: 1px 4px 4px #8b5cf6;
  --shadowGrey: 2px 4px 4px #4f4c56;
  --shadowWhite: 1px 4px 4px #ffffff;
}
